@import "tailwindcss";

@theme {
  /* Branding */
  --color-momentum-primary-purple: #A78BFA;
  --color-momentum-primary-purple-light: #C4B5FD;
  --color-momentum-midnight-indigo: #1E1B4B;

  /* Backgrounds */
  --color-momentum-bg-main: #F8F7FF;
  --color-momentum-bg-soft: #F5F3FF;
  --color-momentum-bg-card: #FFFFFF;

  /* States & Borders */
  --color-momentum-state-success: #22C55E;
  --color-momentum-border-soft: #E9E7FF;
  
  --color-momentum-gray-primary: #C9C9CF;
  --color-momentum-gray-secondary: #F2F2F3;
  --color-momentum-gray-darker: #E4E4E7;
  --color-momentum-black: #000000;
  --color-momentum-black-70: rgba(0, 0, 0, 0.70);
  --color-momentum-black-64: rgba(0, 0, 0, 0.64);
  --color-momentum-black-50: rgba(0, 0, 0, 0.50);
  --color-momentum-black-16: rgba(0, 0, 0, 0.16);
}